%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.1"}}},
    {cowboy, {git, "https://github.com/emqx/cowboy", {tag, "2.9.2"}}}
]}.

{plugins, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.1"}}}
]}.

{project_plugins, [{erlfmt, "1.6.0"}]}.

{erl_opts, [warnings_as_errors, debug_info, {d, plugin_rel_vsn, "1.0.6"}]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release, {mcp_bridge, "1.0.6"}, [
        mcp_bridge,
        emqx_plugin_helper
    ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["Shawn"]},
    {builder, [
        {name, "Shawn"},
        {contact, "506895667@qq.com"},
        {website, "https://emqx.com"}
    ]},
    {repo, "https://github.com/emqx/emqx_mcp_bridge"},
    {functionality, ["Demo"]},
    {compatibility, [{emqx, "~> 5.7"}]},
    {description, "An EMQX plugin that bridges MCP-SSE to MCP-over-MQTT"}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, no_unknown, error_handling]},
    {exclude_mods, []},
    {plt_location, "."},
    {plt_prefix, "emqx_dialyzer"},
    {plt_apps, all_apps},
    {plt_extra_apps, [cowboy]},
    {statistics, true}
]}.
